.login_container{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login-form {
  max-width: 400px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
