<button nz-button (click)="addRow()" nzType="primary">Crear un nuevo curso</button>
<br>
<br>
<nz-table #columnTable nzBordered [nzData]="courses" [nzScroll]="{ x: '1200px'}">
  <thead>
    <tr>
      <th nzLeft nzWidth="150px">Nombre del Curso</th>
      <th nzWidth="200px">Correo</th>
      <th nzWidth="150px">Contraseña</th>
      <th nzWidth="150px">Nombre de la página</th>
      <th nzWidth="180px">Estado</th>
      <th>Tipo de curso</th>
      <th nzWidth="180px">URL</th>
      <th nzRight nzWidth="100px" nzRight>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of columnTable.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">

        <td nzLeft nzBreakWord>{{ data.courseName }}</td>
        <td nzBreakWord>{{ data.email }}</td>
        <td nzBreakWord>{{ data.password }}</td>
        <td nzBreakWord>{{ data.webName }}</td>
        <td> <nz-select [(ngModel)]="editCache[data.id].data.state" nzDisabled>
          <nz-option nzValue="toDo" nzLabel="Pendiente"></nz-option>
          <nz-option nzValue="doing" nzLabel="En curso"></nz-option>
          <nz-option nzValue="done" nzLabel="Terminado"></nz-option>
        </nz-select></td>
        <td>{{ data.courseType }}</td>
        <td nzBreakWord><a href="data.url" target="_blank">{{ data.url }}</a></td>
        <td nzRight>
          <a (click)="startEdit(data.id)"><i nz-icon nzType="edit" style="font-size: 22px;"></i> </a>
          <a nz-popconfirm nzTitle="¿Está seguro que desea eliminar?" (nzOnConfirm)="delete(data.id)">
            <i nz-icon nzType="delete" style="font-size: 22px;  padding-left: 12px;"></i>
          </a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td nzLeft><input type="text" nz-input [(ngModel)]="editCache[data.id].data.courseName" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.email" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.password" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.webName" /></td>
        <td>
          <nz-select [(ngModel)]="editCache[data.id].data.state">
            <nz-option nzValue="toDo" nzLabel="Pendiente"></nz-option>
            <nz-option nzValue="doing" nzLabel="En curso"></nz-option>
            <nz-option nzValue="done" nzLabel="Terminado"></nz-option>
          </nz-select>
        </td>
        <td><nz-select [(ngModel)]="editCache[data.id].data.courseType">
          <nz-option nzValue="frontend" nzLabel="frontend"></nz-option>
          <nz-option nzValue="bakend" nzLabel="bakend"></nz-option>
          <nz-option nzValue="ux-ui" nzLabel="ux-ui"></nz-option>
          <nz-option nzValue="softSkills" nzLabel="softSkills"></nz-option>
        </nz-select></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.url" /></td>
        <td nzRight>
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <a nz-popconfirm nzTitle="¿Esta seguro que desea cancelar?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
